<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <mat-tab-group (selectedTabChange)="cambioPestana($event)" [selectedIndex]="selectedIndex">
        <mat-tab label="Cliente" >
            <div class="row ">
                <div class="col-sm-12 bg-white pl-3 pt-3 pb-1 mb-3">
                    <h1 class="content-header">Información del cliente</h1>
                </div>
            </div>
            <section id="extended">
                <div class="container-fluid">
                    <div class="row text-center">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="col-sm-12 bg-white pl-3 pt-3 pb-1 mb-3">
                                        <div class="form-group  row col-sm-12">
                                            <div class="col-sm-6">
                                                <label for="inputCliente">Ingrese c&oacute;digo cliente</label><br />
                                                <input type="text" id="inputCliente" class="form-control" (change)="typed(codigoClienteInput)" [(ngModel)]="codigoClienteInput" [ngModelOptions]="{standalone: true}">
                                            </div>
                                            <div class="col-sm-6">
                                                <label for="idCliente">Lista clientes *</label>
                                                <select type="text" class="form-control" id="idCliente" (change)="seleccionoCliente($event.target.value); validacionGuardarBorrador()">
                                                    <option selected [value]="0">Seleccione</option>
                                                    <option *ngFor="let cliente of teste; let i = index" [value]="i+1">{{cliente.codCliente}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row col-sm-12">
                                            <div class="form-group col-sm-3">
                                                <label for="nombreCliente">Nombre</label>
                                                <input type="text" class="form-control" id="nombreCliente" [(ngModel)]="clienteSeleccionado.nombreCliente" [ngModelOptions]="{standalone: true}" readonly>
                                            </div>
                                            <div class="form-group col-sm-3">
                                                <label for="organizacionVentas">Organización de ventas</label>
                                                <input type="text" class="form-control" id="organizacionVentas" [(ngModel)]="clienteSeleccionado.organizacionVentas" [ngModelOptions]="{standalone: true}" readonly>
                                            </div>
                                            <div class="form-group col-sm-3">
                                                <label for="codCliente">Identificación</label>
                                                <input type="text" class="form-control" id="codCliente" [(ngModel)]="clienteSeleccionado.codCliente" [ngModelOptions]="{standalone: true}" readonly>
                                            </div>
                                            <div class="form-group col-sm-3">
                                                <label for="telefono">Teléfono</label>
                                                <input type="text" class="form-control" id="telefono" [(ngModel)]="clienteSeleccionado.telefono" [ngModelOptions]="{standalone: true}" readonly>
                                            </div>
                                        </div>
                                        <div class="row col-sm-12">
                                            <div class="form-group col-sm-5">
                                                <label for="direccion">Dirección</label>
                                                <input type="text" class="form-control" id="direccion" [(ngModel)]="clienteSeleccionado.direccion" [ngModelOptions]="{standalone: true}" readonly>
                                            </div>
                                            <div class="form-group col-sm-5">
                                                <label for="ciudad">Ciudad</label>
                                                <input type="text" class="form-control" id="ciudad" [(ngModel)]="clienteSeleccionado.ciudad" [ngModelOptions]="{standalone: true}" readonly>
                                            </div>
                                            <div class="form-group col-sm-2">
                                                <label for="region">Región</label>
                                                <input type="text" class="form-control" id="region" [(ngModel)]="clienteSeleccionado.region" [ngModelOptions]="{standalone: true}" readonly>
                                            </div>
                                        </div>
                                        <div class="row col-sm-9" align="center">
                                            <div id="obligatoriosInfoCliente">(*) Campos Obligatorios</div>

                                        </div>
                                        <div>
                                            <br> <br>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 bg-white pl-3 pt-3 pb-1 mb-3">
                                        <div class="row text-center col-sm-8 offset-sm-4">
                                            <button class="btn btn-default" (click)="cancelar(mensajeModalCancelar)">Cancelar</button>&nbsp;
                                            
                                            <button class="btn btn-success" (click)="CambiarPestanaSiguiente()">Siguiente</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </mat-tab>
        <mat-tab label="Nota Contable" >
            <div class="row ">
                <div class="col-sm-12 bg-white pl-3 pt-3 pb-1 mb-3">
                    <h1 class="content-header">Crear nota contable</h1>
                </div>
            </div>
            <section id="extended">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-content">
                                    <div class="card-body bg-white pl-3 pt-3 pb-1 mb-3">
                                        <div class="tab-content py-3 px-3 px-sm-0 " id="nav-tabContent">
                                            <div class="form-body col-sm-12">
                                                <div class="form-group row">
                                                    <div>
                                                        <label id="tipoNotaContable">Tipo nota contable:</label> &nbsp;
                                                    </div>
                                                    <div>
                                                        <input type="radio" id="idTipoNota" name="idTipoNota" (change)="validacionGuardarBorrador()" [(ngModel)]="nuevaNC.idTipoNota" value=false /> <label for="credito">&nbsp; Crédito</label>&nbsp;<br />
                                                        <input type="radio" id="idTipoNota" name="idTipoNota" (change)="validacionGuardarBorrador()" [(ngModel)]="nuevaNC.idTipoNota" value=true /> <label for="debito">&nbsp; D&eacute;bito</label>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col-sm-4">
                                                        <label for="idPais"> País </label>
                                                        <input type="text" class="form-control" [(ngModel)]="nuevaNC.nombrePais" readonly />

                                                    </div>
                                                    <div class="col-sm-4">
                                                        <label for="idUnidadComercial"> Unidad Comercial </label>
                                                        <input type="text" class="form-control" [(ngModel)]="nuevaNC.nombreUnidadComercial" readonly />
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <label for="idEntidad">Entidad Legal *</label>
                                                        <select type="text" class="form-control" [(ngModel)]="nuevaNC.idEntidadLegal">
                                                            <option [value]="0">Seleccione</option>
                                                            <option *ngFor="let entidad of listaEntidadesLegales" [value]="entidad.idTipo">{{entidad.nombre}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col-sm-4">
                                                        <label for="idTipoMonedas">Tipo Moneda *</label>
                                                        <select *ngIf="deshabilitarMoneda" type="text" class="form-control" [(ngModel)]="nuevaNC.idTipoMoneda" (change)="habilidarProductos(nuevaNC.idTipoMoneda,nuevaNC.idNegocio)">
                                                            <option [value]="0">Seleccione</option>
                                                            <option *ngFor="let tipoMoneda of listaTiposMonedas" [value]="tipoMoneda.idTipo">{{tipoMoneda.nombre}}</option>
                                                        </select>
                                                        <select *ngIf="!deshabilitarMoneda" type="text" class="form-control" [(ngModel)]="nuevaNC.idTipoMoneda" disabled>
                                                            <option [value]="0">Seleccione</option>
                                                            <option *ngFor="let tipoMoneda of listaTiposMonedas" [value]="tipoMoneda.idTipo">{{tipoMoneda.nombre}}</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <label for="idNegocio">Negocio *</label>
                                                        <select type="text" class="form-control" [(ngModel)]="nuevaNC.idNegocio" (change)="habilidarProductos(nuevaNC.idTipoMoneda,nuevaNC.idNegocio)">
                                                            <option [value]="0">Seleccione</option>
                                                            <option *ngFor="let negocio of listaNegocios" [value]="negocio.idTipo">{{negocio.nombre}}</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-sm-4" [hidden]=habilitarComboUDN>
                                                        <label for="idUDN">UDN *</label>
                                                        <select type="text" class="form-control" [(ngModel)]="nuevaNC.idUDN" >
                                                            <option [value]="0">Seleccione</option>
                                                            <option *ngFor="let udn of listaUDN" [value]="udn.idTipo">{{udn.nombre}}</option>

                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col-sm-4">
                                                        <label for="idConcepto">Concepto *</label>
                                                        <select type="text" class="form-control" [(ngModel)]="nuevaNC.idConcepto" (change)="validacionGuardarBorrador(); validacionRebate()">
                                                            <option [value]="0">Seleccione</option>
                                                            <option *ngFor="let concepto of listaConceptos" [value]="concepto.idTipo">{{concepto.nombre}}</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-sm-4" [hidden]=OcultarCombosRebate>
                                                        <label for="idTemporada">Temporada *</label>
                                                        <select type="text" class="form-control" [(ngModel)]="nuevaNC.idTemporada" (change)="validacionGuardarBorrador(); cargarListaPrograma()">
                                                            <option [value]="0">Seleccione</option>
                                                            <option *ngFor="let temporada of listaTemporadas" [value]="temporada.idTipo">{{temporada.nombre}}</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-sm-4" [hidden]=OcultarCombosRebate>
                                                        <label for="idPrograma">Programa *</label>
                                                        <select type="text" class="form-control" [(ngModel)]="nuevaNC.idPrograma" (change)="validacionGuardarBorrador()">
                                                            <option [value]="0">Seleccione</option>
                                                            <option *ngFor="let programa of listaPrograma" [value]="programa.idTipo">{{programa.nombre}}</option>
                                                        </select>
                                                    </div>

                                                </div>
                                                <div class="form-group row" [hidden]=OcultarCombosRebate>
                                                    <div class="col-sm-4">
                                                        <label for="idAnio">A&ntilde;o *</label>
                                                        <input  type="number" class="form-control" placeholder="A&ntilde;o" [(ngModel)]="nuevaNC.anio" (change)="validacionAnio(mensajeModalError)">
                                                     </div>
                                                    <div class="col-sm-4">
                                                        <label for="idCuentaContable">Cuenta Contable *</label>
                                                        <select type="text" class="form-control" [(ngModel)]="nuevaNC.idCuentaContable" (change)="validacionGuardarBorrador()">
                                                            <option [value]="0">Seleccione</option>
                                                            <option *ngFor="let CuentaContable of listaCuentasContables" [value]="CuentaContable.idTipo">{{CuentaContable.nombre}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col-sm-4">
                                                        <label for="monto">Monto *</label>
                                                        <input *ngIf="tabProducto" type="number" class="form-control" placeholder="Monto" [(ngModel)]="nuevaNC.monto" (ngModelChange)="calcularValorUSD(nuevaNC.idTipoMoneda,mensajeModalError)" min="1" pattern="^[0-9]+">
                                                        <input *ngIf="!tabProducto" type="number" class="form-control" placeholder="Monto" [(ngModel)]="nuevaNC.monto" readonly min="1" pattern="^[0-9]+">
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <label for="monto">Monto en USD</label>
                                                        <input type="number" class="form-control" placeholder="USD" [(ngModel)]="nuevaNC.montoUSD" readonly>
                                                    </div>
                                                </div>
                                                <div class="form-group row ">
                                                    <div class="col-sm-4">
                                                        <label for="message">Descripción *</label>
                                                        <textarea class="form-control" name="message" placeholder="Descripción" rows="2" ng-maxlength="50" [(ngModel)]="nuevaNC.descripcion" (ngModelChange)="validacionGuardarBorrador()"></textarea>
                                                    </div>
                                                    <div class="checkbox">
                                                        <div class="col-sm-8">
                                                            <br>
                                                            <label>
                                                                <input type="checkbox" [(ngModel)]="nuevaNC.notificacionCorreo">Notificarme por correo
                                                            </label>
                                                            <label>
                                                                <input *ngIf="monedaSel" type="checkbox" [(ngModel)]="nuevaNC.tipoProducto" (change)="checkProducto(nuevaNC.tipoProducto? true:false)" disabled min="1" pattern="^[0-9]+">
                                                                <input *ngIf="!monedaSel" type="checkbox" [(ngModel)]="nuevaNC.tipoProducto" (change)="checkProducto(nuevaNC.tipoProducto? true:false)" min="1" pattern="^[0-9]+">Nota contable con producto
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col-sm-4">
                                                        <p>Agregar archivo evidencia</p>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <input #file type="file" (change)="uploadArchivo($event)" />
                                                    </div>
                                                    <div class="col-sm-4  {{btnAdjuntar}}">
                                                        <button class="btn btn-success" id="adjuntar" (click)="agregarTabla(mensajeModalError)"> Adjuntar </button>
                                                    </div>
                                                </div>
                                                <div class="form-group row" id="tablaAdjuntos">
                                                    <b class="col-sm-4">Archivos Adjuntos: {{arrayfiles.length}}</b>
                                                    <table id="tablaAdjuntos">
                                                        <tr *ngFor="let item of arrayfiles ; let i = index">
                                                            <td class="col-sm-4">{{item.name}}</td>
                                                            <td class="col-sm-1">
                                                                <div class="material-icons col-sm-4" id="eliminarBotonTabla" title="Eliminar adjunto" (click)="eliminarAdjunto(i)">
                                                                    delete_forever
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col-sm-10 text-justify">
                                                        <p><b> Recuerde que se puede subir un archivo con un tamaño máximo 20 MB, los archivos permitidos son  fotos, pdf, documentos de office y videos</b></p>
                                                    </div>
                                                </div>
                                                <div>
                                                    <div class="col-sm-8" id="obligatoriosCrearNota">(*) Campos Obligatorios</div>
                                                    <div>
                                                        <br> <br>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 bg-white pl-3 pt-3 pb-1 mb-3">
                                            <div class="row col-sm-10 offset-sm-2">
                                                <button class="btn btn-default" (click)="CambiarPestanaAnterior()">Atras</button>&nbsp;
                                                <button class="btn btn-success" (click)="guardar(mensajeModalError,mensajeModalGuardar)" [disabled]=activarBtnGuardar>Aceptar</button>&nbsp;
                                                <button *ngIf="borrador1" class="btn btn-primary" (click)="guardarBorrador(mensajeModalError,mensajeModalGuardar)" disabled>Guardar Borrador</button>&nbsp;
                                                <button *ngIf="!borrador1" class="btn btn-primary" (click)="guardarBorrador(mensajeModalError,mensajeModalGuardar)">Guardar Borrador</button>&nbsp;
                                                <button class="btn btn-default" (click)="cancelar(mensajeModalCancelar)">Cancelar</button>&nbsp;
                                                <button class="btn btn-success" (click)="CambiarPestanaSiguiente()" [hidden]=verSiguente>Siguiente</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </mat-tab>
        <mat-tab label="Producto"  disabled="{{tabProducto}}" >
            <div class="from-group ">
                <div class="col-lg-12 col-sm-12 bg-white pl-3 pt-3 pb-1 mb-3">
                    <h1 class="content-header">Adicionar productos</h1>
                </div>
                <div class="responsive">
                    <div class="col-lg-12 col-sm-12 bg-white pl-3 pt-3 pb-1 mb-3">
                        <div class="row col-sm-12">
                            <div class="col-sm-3">
                                <label for="idMoneda">Moneda</label>
                                <select type="text" class="form-control" [value]="nuevaNC.idTipoMoneda" [(ngModel)]="producto.idMoneda" readonly disabled>
                                    <option [value]="0">Seleccione</option>
                                    <option *ngFor="let tipoMoneda of listaTiposMonedas" [value]="tipoMoneda.idTipo">{{tipoMoneda.nombre}}</option>
                                </select>
                            </div>
                            <div class="col-sm-2">
                                <label for="idMonto">Monto</label>
                                <input type="number" class="form-control" id="idMonto" [(ngModel)]="nuevaNC.monto" [ngModelOptions]="{standalone: true}" readonly>
                            </div>
                            <div class="col-sm-2">
                                <label for="monto">Monto en USD*</label>
                                <input type="number" class="form-control" placeholder="USD" [(ngModel)]="nuevaNC.montoUSD" readonly>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="responsive">
                    <div class="col-lg-12 col-sm-12 bg-white pl-3 pt-3 pb-1 mb-3">
                        <div class=" col-sm-4 card-body" id="card">
                            <label>Productos</label>
                            <div class="input-group">
                                <input type="text" class="form-control " placeholder="Descripci&oacute;n Producto" aria-describedby="button-addon4" [(ngModel)]="nombreProductoMostar" readonly />
                                <div class=" input-group-append">
                                    <button class="btn btn-success" type="button" id="botonModalProductos" (click)="mostrarProductos(modalBuscarProductos)"><i class="ft-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-sm-12 bg-white pl-3 pt-3 pb-1 mb-3">
                        <table class="table table-responsive">
                            <thead>
                                <tr>
                                    <th class="col-lg-8">Descripión </th>
                                    <th class="col-lg-1">Detalles</th>
                                    <th  class="col-lg-1">Eliminar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr  id="tablaProductosAdd" *ngFor="let nuevoProducto of arregloProductos">
                                    <td class="col-lg-8">
                                        <p>{{nuevoProducto.nombreProducto}}</p>
                                    </td>
                                    <td class="col-lg-1"><button class="btn btn-success" (click)="verDetallesProducto(nuevoProducto,modalverDetallesProductos)"><i class="ft-eye"></i></button></td>
                                    <td class="col-lg-1"><button class="btn btn-success" id="modificarNota" (click)="eliminarProducto(mensajeModalError)" ><i class="ft-trash-2"></i></button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-sm-12 bg-white pl-3 pt-3 pb-1 mb-3">
                    <div id="contenedorBotones">
                        <button class="btn btn-default" (click)="CambiarPestanaAnterior()">Atras</button>&nbsp;
                        <button class="btn btn-success" (click)="guardar(mensajeModalError,mensajeModalGuardar)" [disabled]=activarBtnGuardar>Aceptar</button>&nbsp;
                        <button *ngIf="borrador1" class="btn btn-primary" (click)="guardarBorrador(mensajeModalError,mensajeModalGuardar)" disabled>Guardar Borrador</button>&nbsp;
                        <button *ngIf="!borrador1" class="btn btn-primary" (click)="guardarBorrador(mensajeModalError,mensajeModalGuardar)">Guardar Borrador</button>&nbsp;
                        <button class="btn btn-default" (click)="cancelar(mensajeModalCancelar)">Cancelar</button>&nbsp;
                    </div>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>

<ng-template #mensajeModalCancelar let-modal data-backdrop="static" data-keyboard="false">
    <div class="modal-header">
        <h6 class="modal-title" id="modal-basic-title">{{tituloPOPUP}}</h6>
    </div>
    <div class="modal-body">
        {{mensajePOPUP}}
    </div>
    <div class="modal-footer">
        <button mat-raised-button color="accent" class="btn btn-default mb-0" (click)="recargarPagina(true)">
            <a class="text-decoration-none">Aceptar</a>
        </button>
        <button mat-raised-button color="accent" class="btn btn-primary" (click)="modal.close('Save click')">
            <a class="text-decoration-none">Cancelar</a>
        </button>
    </div>
</ng-template>

<ng-template #mensajeModalError let-modal data-backdrop="static" data-keyboard="false">
    <div class="modal-header">
        <h5 class="modal-title" id="modal-basic-title">{{tituloPOPUP}}</h5>
    </div>
    <div class="modal-body">
        {{mensajePOPUP}}
    </div>
    <div class="modal-footer">
        <button mat-raised-button color="accent" class="btn btn-danger" (click)="recargarPagina(crearVal,modal.close('Save click'))">
            <a class="text-decoration-none">Cerrar</a>
        </button>
    </div>
</ng-template>

<ng-template #mensajeModalGuardar let-modal data-backdrop="static" data-keyboard="false">
    <div class="modal-header">
        <h6 class="modal-title" id="modal-basic-title">{{tituloPOPUP}}</h6>
    </div>
    <div class="modal-body">
        {{mensajePOPUP}}
    </div>
    <div class="modal-footer">
        <button mat-raised-button color="accent" class="btn btn-primary" (click)="confirmarGuardarNC(mensajeModalError,modal.close('Save click'))">
            <a class="text-decoration-none">Guardar</a>
        </button>
        <button mat-raised-button color="accent" class="btn btn-default mb-0" (click)="modal.close('Save click')">
            <a class="text-decoration-none">Cancelar</a>
        </button>
    </div>
</ng-template>


<ng-template #modalBuscarProductos let-modal>
    <div class="modal-header">
        <h6 class="modal-title" id="modal-basic-title">{{tituloPOPUP}}</h6>
    </div>
    <br />
    <div>
        <p [hidden]=ocultarMensajeDes>&nbsp;Para realizar la búsqueda por descripci&oacute;n ingrese m&iacute;nimo 4 caracteres</p>
    </div>
    <div>
        <p [hidden]=ocultarMensajeCod>&nbsp;Para realizar la búsqueda por c&oacute;digo de material ingrese los d&iacute;gitos exactos</p>
    </div>
    <div class=" col-sm-12 card-body" id="card">
        <div class="row col-sm-12">
            <div class="input-group col-sm-6">
                <input type="radio" id="parametroBusqueda" name="parametroBusqueda" value="true" [(ngModel)]="parametroBusqueda" (change)="visualizarMensaje()" /> <label for="descripcion" id="titulosBuscar">Descripci&oacute;n</label>
            </div>
            <div class="input-group col-sm-4 offset-2" id="inputBoton">
                <input type="text" class="form-control" aria-describedby="button-addon4" [(ngModel)]="buscarProd" placeholder="Buscar" />
                <div class=" input-group-append">
                    <button class="btn btn-success" type="button" id="botonModalProductos" (click)="buscarProductos(buscarProd,parametroBusqueda,mensajeModalError)"><i class="ft-search"></i></button>
                    
                </div>
            </div>
        </div>
        <div class="row col-sm-12">
            <div class="input-group col-sm-6">
                <input type="radio" id="parametroBusqueda" name="parametroBusqueda" value="false" [(ngModel)]="parametroBusqueda" (change)="visualizarMensaje()" /> <label for="material" id="titulosBuscar">Cód. Material</label>
            </div>
        </div>
    </div>
    <div class="table-responsive" [hidden]=ocultarTablaProductos>
        <table class="table table-hover">
            <thead>
                <tr>
                    <td><b>Cód. material</b></td>
                    <td><b>Descripci&oacute;n</b></td>
                    <td><b>Estado</b></td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let produc of listaProductos | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                    <td>{{produc.material}}</td>
                    <td>{{produc.nombre}}</td>
                    <td>{{produc.estado}}</td>
                    <td><div class="material-icons col-sm-2" id="agregarPro" (click)="detallesProducto(produc,modalAgregarDetallesProductos,modal.close('save ok'))">add_circle</div>
                </tr>
            </tbody>
        </table>
        <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="collectionSize"></ngb-pagination>
    </div>
    <div class="modal-footer">
        <button mat-raised-button color="accent" class="btn btn-primary" (click)="modal.close('Save click',limpiarCerrar())">
            <a class="text-decoration-none">Cancelar</a>
        </button>
    </div>
</ng-template>
<ng-template #modalAgregarDetallesProductos let-modal>
    <div class="modal-header">
        <h6 class="modal-title" id="modal-basic-title">{{tituloPOPUP}}</h6>
    </div>
    <div class=" col-sm-12 card-body" id="card">
        <div class="col-sm-8">
            <label> Detalle Producto</label>
            <input readonly type="text" class="form-control" [(ngModel)]="nombreProductoMostarDetalle" [ngModelOptions]="{standalone: true}" />
        </div>
    </div>
    <div class=" row col-sm-12 card-body" id="detallesProductos">
        <div class="col-sm-3 ">
            <label>Cantidad</label>
            <input type="number" placeholder="Cantidad" class="form-control" name="cantidad" [(ngModel)]="producto.cantidad" [ngModelOptions]="{standalone: true}" min="1" pattern="^[0-9]+" />
        </div>
        <div class="col-sm-3 ">
            <label for="idUnidad">Unidad medida</label>
            <select type="text" class="form-control" id="idUnidad" [(ngModel)]="producto.unidadMedida" [ngModelOptions]="{standalone: true}">
                <option selected [value]="0">Seleccione</option>
                <option *ngFor="let unidadMedida of listaUnidadMedida; let i = index" [value]="unidadMedida.siglaUnidadMedida">{{unidadMedida.siglaUnidadMedida}}</option>
            </select>
        </div>
        <div class="col-sm-3 col-sm-offset-3">
            <label>Vr. Unitario</label>
            <input type="number" placeholder="Vr. Unitario" class="form-control" name="vlUnitario" [(ngModel)]="producto.vlUnitario" [ngModelOptions]="{standalone: true}" min="1" pattern="^[0-9]+" />
        </div>
    </div>
    <div class="row col-sm-12 card-body" id="detallesProductos">
        <div class="col-sm-3">
            <label>N° Lote</label>
            <input type="text" placeholder="N° Lote" class="form-control" name="nLote" [(ngModel)]="producto.nLote" [ngModelOptions]="{standalone: true}" />
        </div>
        <div class="col-sm-3">
            <label>N° Factura</label>
            <input type="text" placeholder="N° Factura" class="form-control" [(ngModel)]="producto.nFactura" [ngModelOptions]="{standalone: true}" />
        </div>
    </div>
    <div class="modal-footer">
        <button mat-raised-button color="accent" class="btn btn-primary" (click)="modal.close('Save click',limpiarCerrar())">
            <a class="text-decoration-none">Cancelar</a>
        </button>
        <button mat-raised-button color="accent" class="btn btn-success" data-dismiss="modalAgregarDetallesProductos"(click)="agregarProducto(mensajeModalError,producto,modal.close('save ok'))">
            <a class="text-decoration-none">Agregar</a>
        </button>
    </div>

</ng-template>

<ng-template #modalverDetallesProductos let-modal>
    <div class="modal-header">
        <h6 class="modal-title" id="modal-basic-title">{{tituloPOPUP}}</h6>
    </div>
    <div class=" col-sm-12 card-body" id="card">
        <div class="col-sm-8">
            <label> Detalle Producto</label>
            <input readonly type="text" class="form-control" [(ngModel)]="nombreProductoDetalle" [ngModelOptions]="{standalone: true}" />
        </div>
    </div>
    <div class=" row col-sm-12 card-body" id="detallesProductos">
        <div class="col-sm-3 ">
            <label>Cantidad</label>
            <input readonly type="number" placeholder="Cantidad" class="form-control" name="cantidad" [(ngModel)]="cantidadProductoDetalle" />
        </div>
        <div class="col-sm-3 ">
            <label for="idUnidad">Unidad medida</label>
            <input readonly type="text"  class="form-control" name="idUnidad" [(ngModel)]="unidadMedidaDetalle" />
        </div>
        <div class="col-sm-3 col-sm-offset-3">
            <label>Vr. Unitario</label>
            <input readonly type="number" placeholder="Vr. Unitario" class="form-control" name="vlUnitario" [(ngModel)]="vlrUnitarioProductoDetalle" />
        </div>
    </div>
    <div class="row col-sm-12 card-body" id="detallesProductos">
        <div class="col-sm-3">
            <label>N° Lote</label>
            <input readonly type="text" placeholder="N° Lote" class="form-control" name="nLote" [(ngModel)]="loteProductoDetalle" />
        </div>
        <div class="col-sm-3">
            <label>N° Factura</label>
            <input readonly type="text" placeholder="N° Factura" class="form-control" [(ngModel)]="facturaProductoDetalle" />
        </div>
    </div>
    <div class="modal-footer">
        <button mat-raised-button color="accent" class="btn btn-danger" (click)="modal.close('Save click',limpiarCerrar())">
            <a class="text-decoration-none">Cerrar</a>
        </button>
        
    </div>

</ng-template>


